.control-area {
	margin: 20px;
	button {
		margin-right: 10px;
	}
}

.button {
	&:hover {
		cursor: pointer;
	}
}

.plot {
	margin-left: 10px;
	float: left;
}

.information {
	margin-left: 10px;
	float: left;
}

.canvas-wrapper {
	canvas {
		border: solid 1px #000000;
		&:hover {
			cursor: crosshair;
		}
	}
	canvas.onSegment {
		&:hover {
			cursor: move;
		}
	}
}

.area-info {
	border: solid 1px #000000;
	width: 200px;
	height: 50px;
	margin-bottom: 10px;;
	padding: 10px;
}

.vertex-info {
	border: solid 1px #000000;
	padding: 10px;
	width: 200px;
	height: 310px;
	overflow-x: scroll;
}

.number {
	width: 40px;
}

.cordinate {
	width: 80px;
}

.context-menu {
	width: 100px;
	height: 60px;
	padding: 5px 0;
	background-color: #ffffff;
  box-shadow: 1px 1px 5px #000000;
  border-radius: 3px;
	div {
		font-size: 12px;
		text-align: center;
		line-height: 25px;
		height: 25px;
		&:hover {
			cursor: pointer;
			color: #ffffff;
			background-color: #5e5e5e;
		}
	}
	.disabled {
		pointer-events: none;
		color: #dfdfdf;
	}
}

