<div class="control-area">
  <button (click)="closePath()">パスを閉じる</button>
  <button (click)="clearAll()">描画をクリア</button>
  <ng-container *ngIf="currentX && currentY">
    X:{{currentX}} Y:{{currentY}}
  </ng-container>
</div>
<div class="flame d-flex">
  <div class="plot">
    <div class="canvas-wrapper">
      <canvas #canvas width="600px"  height="500px" (mousemove)="getCurrentPosision($event)"
        (click)="onClickCanvas()" [class.onSegment]="isMouseOnSegment" (contextmenu)="openMenu($event)">
      </canvas>
    </div>
  </div>
  <div class="information">
    <div class="area-info">
      <span>面積 = </span>
      {{polygonArea}}
    </div>
    <div class="vertex-info">
      <table border=1>
        <thead>
          <tr>
            <td class="number">No.</td>
            <td class="cordinate">X</td>
            <td class="cordinate">Y</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vertex of vertexList; let i = index">
            <td class="number">{{i}}</td>
            <td class="cordinate">{{vertex.x}}</td>
            <td class="cordinate">{{vertex.y}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- 頂点追加・削除実行用コンテキストメニュー -->
<div style="visibility: hidden; position: fixed;" [matMenuTriggerFor]="contextMenu" (menuClosed)="afterMenuClosed()"
  [style.left]="contextMenuPosition.x"[style.top]="contextMenuPosition.y">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent class="context-menu">
    <div mat-menu-item (click)="addSegment()" [class.disabled]="!isMouseOnStroke">頂点の追加</div>
    <div mat-menu-item (click)="removeSegment()" [class.disabled]="!isMouseOnSegment">頂点の削除</div>
  </ng-template>
</mat-menu>
