<div class="control-area">
  <button (click)="closePath()">パスを閉じる</button>
  <button (click)="clearAll()">描画をクリア</button>
  <ng-container *ngIf="currentX && currentY">
    X:{{currentX}} Y:{{currentY}}
  </ng-container>
</div>
<div class="flame d-flex">
  <div class="plot">
    <div class="canvas-wrapper">
      <canvas #canvas id="canvas" #dot width="600px" height="500px" (mousemove)="getCurrentPosision($event)" (click)="onClickCanvas()"
        [class.onSegment]="isMoueOnSegment"></canvas>
    </div>
  </div>
  <div class="information">
    <div class="area-info">
      <span>面積 = </span>
      {{polygonArea}}
    </div>
    <div class="vertex-info">
      <table border=1>
        <thead>
          <tr>
            <td class="number">No.</td>
            <td class="cordinate">X</td>
            <td class="cordinate">Y</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vertex of vertexList; let i = index">
            <td class="number">{{i}}</td>
            <td class="cordinate">{{vertex.x}}</td>
            <td class="cordinate">{{vertex.y}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

